span.writebetter-highlight {
    position: relative;
    border-bottom: 3px solid #ffc578;
}

span.writebetter-highlight:before,
span.writebetter-highlight:after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}

span.writebetter-highlight:after {
    /* The Arrow below the tooltip */
    border-right: 6px solid transparent;
    border-top: 10px solid #eee;
    border-left: 6px solid transparent;
    content: '';
    height: 0px;
    width: 0px;
    bottom: 20px;
    left: 5px;
    transform: translate3d(0, 6px, 0);
    transition: all .1s ease-in-out;
}

span.writebetter-highlight:before {
    /* The tooltip box */
    background: rgba(255, 255, 255, .95);
    border: 1px solid #ddd;
    box-shadow: 3px 3px #eee;
    border-radius: 5px;
    color: black;
    content: '';
    font-size: 14px;
    font-family: docs-Consolas;
    padding: 10px 15px;
    bottom: 30px;
    white-space: nowrap;
    transform: scale3d(.2, .2, 1);
    transition: all .2s ease-in-out;
}

span.writebetter-highlight:hover {
    background: #f0f0f0;
}

span.writebetter-highlight:hover:before,
span.writebetter-highlight:hover:after {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

span.writebetter-highlight:hover:after {
    transition: all .2s .1s ease-in-out;
}