#selector:hover {    
    background-repeat: no-repeat;
    background-image: background_gradient;
}

#selector:hover:before,
#selector:hover:after {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

#selector:hover:after {
    transition: all .2s .1s ease-in-out;
}